.swiper_container {
    position: relative;
    width: 100vw;
    flex-grow: 1
}
.swiper_container .left{
    position: absolute;
    left: 2vw;
    top: 50vw;
}
.swiper_container .right{
    position: absolute;
    right: 2vw;
    top: 50vw;
}
.swiper_container .img{
    display: block;
    width: 100vw;
    height: 100vw;
    overflow: hidden;
}
.swiper_container .bottom_dots{
    justify-content: center!important;
    background-color: transparent!important;
    padding: 0!important;
    position: absolute;
    bottom: 4vw;
    width: 100vw;
}