.footer_container{
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100vw;
    height: $--wrap-height;
    background-color: $--wrap-background-color;
}
.footer_item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33.33vw;
    height: $--wrap-height;
}
.footer_container .image{
    width: 1rem;
    height: 1rem;
}
.footer_container .text{
    margin-top: .2rem;
    font-size: .8rem;
}